/*
---
title: test1
category: test
libs:
  - jquery.js
  - hoge.js
---

## test1

```
<div>test1
  <button class="test1">test1</button>
</div>
```

```js
var $btn = $('.test1');
$btn.on("click", function() {
  alert("test1!!");
});
```

*/

.test1 {
  color: blue;
}

/*
---
title: test3
category: test
libs: [jquery.js]
---

## test3

```html
<div>test3
  <button class="test3">test3</button>
</div>
```

```js
var $btn = $('.test3');
$btn.on("click", function() {
  alert("test3!!");
});
```

```css
.test3 {
  color: blue;
}
```

*/

.test3 {
  color: blue;
}
