/*
---
title: test2
category:
  - test
  - mod
---

## test2

```html
<button class="test2">test2</button>
```

```js
var $btn = $('.test2');
$btn.on("click", function() {
  alert("test2!!");
});
```


*/

.test2 {
  color: blue;
}

/*
---
title: uncategorized
---

## test4

```html
<button class="test4">test4</button>
```

```js
var $btn = $('.test4');
$btn.on("click", function() {
  alert("test4!!");
});
```


*/

.test4 {
  color: blue;
}
