<doctype html>
<html>
  <%- include('header') %>
  <body>
  <div class="aigis-container">
    <%- include('sidemenu') %>
    <div class="aigis-contents">
      <div class="aigis-contents__body">
        <%- include('modules') %>
      </div>
    </div>
  </div>
  <%- include('footer') %>
  </body>
</html>
