</div>
<footer class="aigis-footer">Last update at {{timestamp}}</footer>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
  $(function() {
    $(document).on("click", ".aigis-categoryList__toggle", function(e) {
      e.preventDefault();
      var ul = $(this).parent().next();
      if (ul) {
        $(ul).toggle();
      }
    });
  });
</script>
</body>
</html>
