{{!--
{
 href,
 name,
 depth,
 children
}
--}}
<li class="aigis-categoryList__item" data-path-depth="{{depth}}">
<a {{#if href}}href="{{href}}{{/if}}">{{name}}
{{#if children}}<span class="aigis-categoryList__toggle">+</span>{{/if}}
</a>
{{{children}}}</li>
