/*
---
name: footer
category:
  - mod/footer
---

```html
<div class="gh-footer">
  <p>Created and maintained by <a href="https://twitter.com/nakajmg">@nakajmg</a> and
    <a href="https://twitter.com/geckotang">@geckotang</a>
  </p>
</div>
```

*/
.gh-footer {
  background-color: $main-color;
  background-color: #333;
  color: $text-color;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  padding: 30px 0;
  a {
    color: $link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
