/*
---
name: header
category: mod/header
---

```html
<div class="gh-header">
  <div class="gh-l-container gh-l-header">
    <div class="gh-l-header__left">
      <h1 class="gh-header__name">
        <a href="/pxgrid/aigis/">aigis</a>
      </h1>
    </div>
    <div class="gh-l-header__right">
      <ul class="gh-header-menu">
        <li class="gh-header-menu__item"><a href="#">About</a>
        <li class="gh-header-menu__item"><a href="#">Usage</a>
        <li class="gh-header-menu__item"><a href="./docs/index.html">Sample</a>
        <li class="gh-header-menu__item"><a href="#">Docs</a>
        <li class="gh-header-menu__item"><a href="#">GitHub</a>
      </ul>
    </div>
  </div>
</div>
```
*/
.gh-header {
  color: tomato;
  background-color: $main-color;
  padding-left: 20px;
  &__name {
    font-size: 2.4rem;
    a {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.gh-header-menu {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  margin: 0;
  &__item {
    list-style: none;
    align-self: center;
    padding: 16px;
    background-color: transparent;
    transition: background-color 300ms ease;
    a {
      color: rgba(#fff, .8);
      text-decoration: none;
    }
    &:hover {
      background-color: $text-color;
      a {
        color: $main-color;
      }
    }
  }
}
