/*
---
name: hero
category: mod/hero
---

```html
<div class="gh-hero gh-l-hero">
  <p class="gh-hero__mainText">aigis is a styleguide generator.</p>
  <p class="gh-hero__subText">Make easier and maintainable.</p>
  <button class="gh-hero__btn"><a href="https://github.com/pxgrid/aigis/" target="_blank">View on GitHub</a></button>
</div>
```

*/

.gh-hero {
  background-color: $main-color;
  color: $text-color;
  padding-top: 30rem;
  padding-bottom: 5rem;
  text-align: center;
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 220px auto;
  &__mainText {
    font-size: 5.0rem;
  }

  &__subText {
    font-size: 2.5rem;
  }

  &__btn {
    border: 1px solid $text-color;
    background-color: transparent;
    border-radius: 3px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 300;
    padding: 0;
    transition: background-color 200ms ease;
    &:hover {
      color: $main-color;
      background-color: $text-color;
    }
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px 40px;
    }
  }
}
