name: "test_project"

# The directory containing the source files to parse recursively.
source: [
  "./doc_assets/css/"
]
dest: "./docs"

# You may put doc related assets here too: images, css, js, etc.
doc_assets: "./doc_assets"

# document. May also include additional folders as needed.

###
Reference JS library from CSS file by CSON.
Write {"library name": "file path"} "file path" is relative from "doc_assets".
###
lib:
  jquery: "./js/lib/jquery.js"
  
  
# Markdown-renderer custom-template for MarkedRenderer.
md_template: "./md_template/"

# Add CSS class to rendered HTML-element from Markdown.
# Value is expected Array or String.
md_class:
  blockquote: []
  heading   : ["hoge"]
  hr        : []
  list      : []
  listitem  : []
  paragraph : []
  table     : []
  tablerow  : []
  tablecell : []
  link      : "link hoge hogehuga"
  image     : ["image"]

# "highlight": "disable"
highlight_theme: "monokai"

common_assets:
  css: [
    # "css/test.css"
  ]
  js: []

inject:
  html  : true
  js    : false
  jade  : true
  coffee: false
