.gh-l-container {
  max-width: 1020px;
  margin: 0 auto;
}

.gh-l-header {
  display: flex;

  &__left {
    align-self: center;
  }

  &__right {
    align-self: center;
    flex-grow: 1;
  }
}


.gh-l-hero {
  .gh-hero {
    &__subText {
      margin-top: 20px;
    }
    &__btn {
      margin-top: 40px;
    }
  }

}

.gh-l-footer {
  margin-top: 60px;
}

@import "column";
