head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  link(href=root + 'aigis_assets/css/highlight/monokai.css', rel='stylesheet')
  link(href=root + 'aigis_assets/css/theme.css', rel='stylesheet')
  link(href=root + 'css/style.css', rel='stylesheet')
