doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href=root + 'aigis_assets/css/highlight/okadia.css', rel='stylesheet')
    link(href=root + 'aigis_assets/css/theme.css', rel='stylesheet')
    link(href=root + 'css/style.css', rel='stylesheet')
  body
    .aigis-container
      include ./sidemenu
      .aigis-contents
        .aigis-contents__body
          include ./components
          footer.aigis-footer Last update at #{timestamp}
