doctype html
html
  include ./header.jade
  body
    .aigis-container
      include ./sidemenu
      .aigis-contents
        .aigis-contents__body
          != html
          include ./components
          include ./footer
