.aigis-header {
  line-height: 1.5em;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #33331a;
  border-left: 6px solid #33331a;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .aigis-header a {
    text-decoration: none;
    color: inherit; }

.aigis-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;
  text-align: center; }

.aigis-codeblock, .aigis-preview {
  position: relative;
  margin: 0;
  overflow: scroll; }
  .aigis-codeblock pre.editor, .aigis-preview pre.editor {
    position: relative;
    padding: 35px 20px 20px;
    padding: 16px;
    border-radius: 3px;
    margin: 0 auto;
    overflow: scroll;
    border: 1px solid #A0A0A0; }

.aigis-preview {
  border: 1px solid #A0A0A0;
  border-radius: 3px;
  border-radius: 3px 3px 0 0;
  padding: 20px 10px;
  padding: 16px;
  margin: 0; }
  .aigis-preview + pre .editor {
    border-radius: 0 0 3px 3px;
    border-top: none; }

.aigis-sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  box-sizing: border-box;
  background-color: #f9faf9;
  color: #33331a;
  overflow-x: scroll;
  height: 100%; }
  .aigis-sidemenu__heading {
    font-size: 20px;
    margin: 12px 0;
    border-left: 6px solid #33331a;
    color: #33331a;
    font-weight: normal;
    padding-left: 10px;
    line-height: 1em; }
    .aigis-sidemenu__heading a {
      color: inherit;
      text-decoration: none; }

.aigis-categoryList {
  padding: 5px 10px; }
  .aigis-categoryList__item {
    display: block;
    position: relative;
    padding: 8px 10px 8px 10px;
    color: #454545;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0px;
    outline: none;
    text-decoration: none; }
    .aigis-categoryList__item:hover {
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
      background-color: #fff; }
    .aigis-categoryList__item[data-path-level]:before {
      content: "-";
      margin-right: 10px; }
    .aigis-categoryList__item[data-path-level="1"]:before {
      margin-left: 1em; }
    .aigis-categoryList__item[data-path-level="2"]:before {
      margin-left: 2em; }
    .aigis-categoryList__item[data-path-level="3"]:before {
      margin-left: 3em; }
    .aigis-categoryList__item[data-path-level="4"]:before {
      margin-left: 4em; }

.aigis-tags {
  padding: 10px; }
  .aigis-tags__item {
    display: inline-block;
    border-radius: 1px;
    margin: 5px 0;
    margin-right: 5px;
    font-size: 12px;
    padding: 3px 5px;
    background-color: #454545;
    color: #fff;
    text-decoration: none; }
    .aigis-tags__item--deprecated {
      background-color: #ff4f4f;
      color: #fff; }

.aigis-moduleList {
  line-height: 1.6; }
  .aigis-moduleList__item a {
    color: #08f;
    text-decoration: none; }
    .aigis-moduleList__item a:hover {
      text-decoration: underline; }

.aigis-module__heading {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
  position: relative; }
  .aigis-module__heading:hover a {
    position: relative; }
    .aigis-module__heading:hover a:before {
      content: "\00a7";
      position: absolute;
      right: 100%;
      bottom: 5px;
      font-size: 20px;
      color: #000;
      padding-right: 5px;
      padding-left: 5px; }

.aigis-module__filepath {
  display: block;
  text-align: right;
  margin-top: -15px;
  font-size: 16px;
  color: #ADADAD; }

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem; }

.aigis-container {
  box-sizing: border-box;
  width: auto;
  min-width: 960px;
  margin-right: auto; }
  .aigis-container:after {
    content: "";
    display: table;
    clear: both; }

.aigis-contents {
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 280px;
  margin: 0 auto; }
  .aigis-contents__body {
    color: #33331a;
    max-width: 960px;
    min-width: 600px;
    padding: 20px 20px;
    margin: 0 auto; }
    .aigis-contents__body > *:first-child {
      margin-top: 0; }
