body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
font-size: 1rem;
}
.aigis-codeblock, .aigis-preview {
  position: relative;
  margin: 0;
  overflow: scroll;
}
.aigis-codeblock pre.editor {
  position: relative;
  padding: 35px 20px 20px;
  padding: 16px;
  border-radius: 3px;
  margin: 0 auto;
  overflow: scroll;
  border: 1px solid #A0A0A0;
}
/* 
.aigis-codeblock pre.editor:before, .aigis-preview:before {
  content: "code";
  position: absolute;
  padding: 2px 10px;
  font-size: 12px;
  top: 0;
  left: 0;
  border-radius: 3px 0 3px;
  background-color: #3C3C3C;
  color: #fff;
  opacity: 0.8;
}

.aigis-codeblock--html pre.editor:before { content: "html"; }
.aigis-codeblock--jade pre.editor:before { content: "jade"; }
.aigis-codeblock--js pre.editor:before { content: "js"; }
.aigis-codeblock--javascript pre.editor:before { content: "javascript"; }
.aigis-codeblock--coffee pre.editor:before { content: "coffee"; }
.aigis-codeblock--md pre.editor:before { content: "md"; }
 */
.aigis-preview {
  border: 1px solid #A0A0A0;
  border-radius: 3px;
  border-radius: 3px 3px 0 0;
  padding: 20px 10px;
  padding: 16px;
  margin: 0;
}
.aigis-preview + pre {
  margin-top: 0;
}
.aigis-preview + pre .editor{
  border-radius: 0 0 3px 3px;
  border-top: none;
}
/* .aigis-preview:before {
  content: "preview";
} */
/* .aigis-codeblock:hover pre.editor:before,
.aigis-preview:hover:before {
  opacity: 0.3;
} */

.aigis-heading {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.aigis-module__heading {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
  position: relative;
}
.aigis-module__heading:hover a {
  position: relative;  
}
.aigis-module__heading:hover a:before {
  content: "\00a7";
  position: absolute;
  right: 100%;
  bottom: 5px;
  font-size: 20px;
  color: #000;
  padding-right: 5px;
  padding-left: 5px;
}
.aigis-module__filepath {
  display: block;
  text-align: right;
  margin-top: -15px;
  font-size: 16px;
  color: #ADADAD;
}
.aigis-tags {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  font-size: 0;
}
.aigis-tags__item {
  display: inline-block;
  border-radius: 2px;
  margin: 3px 0;
  margin-right: 5px;
  font-size: 12px;
  padding: 2px 5px;
  background-color: #4183c4;
  color: #fff;
  text-decoration: none;
}

.aigis-header {
  font-family: monospace;
  font-weight: 600;
  font-size: 24px;
  background-color: #9ED94A;
  background-color: #FFFD62;
  background-color: #4183c4;
  color: #FFF;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}
.aigis-header a{
  color: inherit;
  text-decoration: none;
}
.aigis-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;
  text-align: center;
}
.aigis-container {
  width: auto;
  max-width: 1020px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}
.aigis-container:before {
  display: table;
  content: "";
}
.aigis-container:after {
  display: table;
  content: "";
  clear: both;
}

.aigis-contents {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}
.aigis-contents > *:first-child {
  margin-top: 0 !important;
}
.aigis-sidemenu {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 34em) {
  .aigis-contents {
    width: 100%;
    float: none;
    padding: 0;
  }
  .aigis-sidemenu {
    width: 100%;
    float: none;
    padding: 0;
  }
  .aigis-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.aigis-categoryList {
  list-style: none;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.aigis-categoryList a:active,
.aigis-categoryList a:hover {
  outline: 0;
}
.aigis-categoryList a:hover {
  background-color: #f9f9f9;
}

.aigis-categoryList__item {
  color: #4183c4;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 8px 10px;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #eee;
}
.aigis-categoryList__item--selected {
  /* font-weight: bold; */
  color: #222;
  cursor: default;
  pointer-events: none;
}
.aigis-categoryList__item--selected:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  background-color: #d26911;
}

.aigis-categoryList__item:last-child {
  border-bottom: 0;
}

.aigis-tags__item--deprecated {
  background-color: #ff4f4f;
  color: #fff;
}

.aigis-moduleList {
  line-height: 1.6;
}
.aigis-moduleList__item a{
  color: #4183c4;
  text-decoration: none;
}
.aigis-moduleList__item a:hover{
  text-decoration: underline;
}
