.aigis-categoryList {
  padding: 5px 10px;
  
  &__item {
    display: block;
    position: relative;
    padding: 8px 10px 8px 10px;
    color: #454545;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0px;
    outline: none;
    text-decoration: none;
    
    &:hover {
      box-shadow: 0 0 0px 1px rgba(0,0,0,0.1);
      background-color: #fff;
    }
    
    &[data-path-level]:before {
      content: "-";
      margin-right: 10px;
    }
    &[data-path-level="0"]:before {
    }
    &[data-path-level="1"]:before {
      margin-left: 1em;
    }
    &[data-path-level="2"]:before {
      margin-left: 2em;
    }
    &[data-path-level="3"]:before {
      margin-left: 3em;
    }
    &[data-path-level="4"]:before {
      margin-left: 4em;
    }
    &.open {}
  }
}
