.aigis-header {
  line-height: 1.5em;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #33331a;
  border-left: 6px solid #33331a;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: inherit;
  }
}
