</div>
<footer class="ronde-footer">Last update at {{timestamp}}</footer>
<script src="./ronde_assets/js/lib/jquery.js"></script>
<script src="./ronde_assets/js/lib/ronde.helper.menu.js"></script>
</body>
</html>
