/*
---
name: yaml_test
category:
  - config
  - yaml
tag:
  - yaml
---

## md_heading2

* Markdownで書けるよ
* Markdownで書けるよ
* Markdownで書けるよ

```html
<div class="hoge">
  <h3 class="hoge__heading">This is module</h3>
  <button class="hoge__button">button</button>
</div>
```

設定は↓な感じで

```
name: "module_name"
category:["category_name"]
tags: ["hoge"]
```

*/

.hoge__heading {
  color: #4183c4;
}
.hoge__button {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #4183c4;
  border-color: #266aa2;
}

/*
---
{
name: json_test
category:
  - config
  - yaml
tag:
  - yaml
}
---

```json
{
  "hoge": {
    "hogehoge": "huga",
    "hoge----": "fugaga"
  },
  "hoho": "fufu"
}
```

* hogehoge

```cson
hoge:
  hogehoge: "huga"
  hoge----: "fugaga"
hoho: "fufu"
```

*/
