/*
---
name: "test_sass"
category:["sass", "all"]
tag: ["tag1", "tag2"]
---

```scss
.box {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  
  .box__heading {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid #333;
    margin-top: 0;
    margin-bottom: 3px;
    background-color: #333;
    color: #eee;
    padding: 5px;
  }
}

```

*/

.box {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  
  .box__heading {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid #333;
    margin-top: 0;
    margin-bottom: 3px;
    background-color: #333;
    color: #eee;
    padding: 5px;
  }
}
