/*
---
title: "test_sass"
category:["sass"]
tag: ["tag1", "tag2"]
---

# testsass

* aaaaa
* bbbbb
* ccccc


```html
<div class="box">
  <h2 class="box__heading">This is box</h2>
  <p class="box__paragraph">
    The quick brown fox jumps over the lazy dog. 1234567890
  </p>
  <button class="box__btn" data-box-btn>box__btn</button>
</div>
```

*/

.box {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  
  .box__heading {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid #333;
    margin-top: 0;
    margin-bottom: 3px;
    background-color: #333;
    color: #eee;
    padding: 5px;
  }
}
