/*
---
title: "test_stylus"
category:["stylus"]
tag: ["tag1", "tag2"]
---

# teststylus

* aaaaa
* bbbbb
* ccccc

*/

.box
  border: 1px solid #333
  padding: 10px
  text-align: center
  border-radius: 2px
  
  .box__heading
    font-size: 16px
    font-weight: normal
    text-align: left
    border-bottom: 1px solid #333
    margin-top: 0
    margin-bottom: 3px
    background-color: #333
    color: #eee
    padding: 5px
