/*
---
name: "test1"
category:["test", "all"]
libs: [
  "jquery"
]
tag: ["deprecated", "tag2", "aiueo"]
---

* aaaaa
* bbbbb
* ccccc


```html
<div class="box">
  <h2 class="box__heading">This is box</h2>
  <p class="box__paragraph">
    The quick brown fox jumps over the lazy dog. 1234567890
  </p>
  <button class="box__btn" data-box-btn>box__btn</button>
</div>
```

```jade
.klass1
  p(data-hoge="hoge") hogehoge
  button hogehogehoge
```

```coffee
class Hoge extends Fuga
  constructor: ->
    super
    this.hoge = "hoge"
  fuga: (opt) =>
    console.log opt
```

```js
var $boxBtn = $('[data-box-btn]');
$boxBtn.on("click", function() {
  alert("box__btn!!");
});
```

```md
# hoge

* hoge1
* hoge2
* hoge3
```

![リンク設定](http://localhost:8000/docs/test1.html "hoge")
[リンク設定](http://localhost:8000/docs/test1.html "hoge")

*/

.box {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}
.box__heading {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #333;
  margin-top: 0;
  margin-bottom: 3px;
  background-color: #333;
  color: #eee;
  padding: 5px;
}
.box__paragraph {
  text-align: left;
  color: #000;
  padding: 10px 0;
  margin: 0;
}
.box__btn {
  -webkit-appearance: none;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 50%;
  line-height: 30px;
  cursor: pointer;
  font-size: 16px;
}

/*
---
name: "test_css2"
category:["css", "all"]
tag: ["tag1", "deprecated"]
---

```css
.box {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}
.box__heading {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #333;
  margin-top: 0;
  margin-bottom: 3px;
  background-color: #333;
  color: #eee;
  padding: 5px;
}
.box__paragraph {
  text-align: left;
  color: #000;
  padding: 10px 0;
  margin: 0;
}
.box__btn {
  -webkit-appearance: none;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 50%;
  line-height: 30px;
  cursor: pointer;
  font-size: 16px;
}
```

*/
