/*
---
name: test1btn
category:
  - all
  - module/btn
libs:
  - jquery
tag: 
  - deprecated
  - tag2
  - aiueo
---

## test1_btn

* aaaaa

---

```html
<div class="box">aaa</div>
```
*/

.box {
  border: 1px solid #333;
  color: red;
  background-color: blue;
}

.box2 {
  color: #f0f;
  border: 1px solid #fff;
}
.box3 {
  color: rgb(146, 135, 224);
  background-color: hsl(27, 37%, 53%);
}
/*
---
name:
  - test_css2
category:
  - module
  - module/btn/special
  - all
tag: 
  - tag1
  - deprecated
---

```coffee
console.log "test"
```

```css
.box {
  border: 1px solid #333;
}
```

*/

/*
---
name: "btn3"
category:
  - module/btn/special
  - all
tag:
  - special
---

* this is special btn

*/
