/*
---
name: "test1"
category:["test", "all"]
libs: [
  "jquery"
]
tag: ["deprecated", "tag2", "aiueo"]
---

## hoge_test

* aaaaa
* bbbbb
* ccccc

---

```html
<div class="box">aaa</div>
```
*/

.box {
  border: 1px solid #333;
}

/*
---
name: "test_css2"
category:["css", "all"]
tag: ["tag1", "deprecated"]
---

```coffee
console.log "test"
```

```css
.box {
  border: 1px solid #333;
}
```

*/
