@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, arial, nimbussansl, liberationsans, freesans, clean, Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  height: 100%; }

main:after {
  content: "";
  clear: both;
  display: block; }

.doc-Body {
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 1.5em;
  background-color: #fff;
  color: #555;
  display: flex;
  padding: 1.6em 1em;
  height: calc(100% - 60px);
  overflow-x: hidden; }
  .doc-Body a[href] {
    color: #4078c0; }
  .doc-Body .doc-Body_Col-left {
    height: 100%;
    margin-right: 10px; }
  .doc-Body .doc-Body_Col-right {
    flex-grow: 1;
    position: relative;
    padding-left: 180px; }
  @media (max-width: 400px) {
    .doc-Body {
      display: block;
      padding-top: 15px; }
      .doc-Body .doc-Body_Col-left {
        height: initial; }
        .doc-Body .doc-Body_Col-left .doc-Menu {
          position: relative;
          padding-bottom: 10px; }
          .doc-Body .doc-Body_Col-left .doc-Menu li {
            display: inline-block; }
          .doc-Body .doc-Body_Col-left .doc-Menu a[href] {
            padding: 0 5px; }
            .doc-Body .doc-Body_Col-left .doc-Menu a[href]:before {
              content: '/'; }
          .doc-Body .doc-Body_Col-left .doc-Menu [data-tree-current]:after {
            display: none; }
      .doc-Body .doc-Body_Col-right {
        padding-left: 0; } }
  .doc-Body .editor.editor-colors {
    margin: 0;
    padding: 10px;
    font-family: monospace;
    border-radius: 2px;
    overflow-x: scroll; }
    .doc-Body .editor.editor-colors .storage.type {
      font-style: normal; }

.doc-Header {
  background-color: #333;
  background-color: #3DB680;
  color: #fff;
  font-size: 1.4rem; }
  .doc-Header .doc-Header_Home {
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
    line-height: 60px;
    display: inline-block;
    margin-left: 20px;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1); }
    .doc-Header .doc-Header_Home:before {
      content: '';
      width: 30px;
      height: 40px;
      padding-right: 10px;
      margin-top: -4px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;
      background-size: 30px auto;
      background-position: center;
      -webkit-backface-visibility: visible; }
  .doc-Header .doc-Header_Col-left {
    display: flex; }
  .doc-Header .doc-Header_Col-right {
    display: flex;
    padding-right: 30px; }
  .doc-Header .doc-Header_Nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .doc-Header .doc-Header_Menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .doc-Header .doc-Header_Menu .doc-Header_MenuItem {
      line-height: 60px;
      padding: 0 10px; }
      .doc-Header .doc-Header_Menu .doc-Header_MenuItem a {
        color: inherit;
        text-decoration: none; }
        .doc-Header .doc-Header_Menu .doc-Header_MenuItem a:hover {
          text-decoration: underline; }

.doc-Modules {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px; }
  .doc-Modules > h1,
  .doc-Modules > h2 {
    margin-top: 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
    font-weight: 500; }
  .doc-Modules .doc-Module:first-child > h1:first-child,
  .doc-Modules .doc-Module:first-child > h2:first-child,
  .doc-Modules .doc-Module:first-child > h3:first-child,
  .doc-Modules .doc-Module:first-child > h4:first-child,
  .doc-Modules .doc-Module:first-child > h5:first-child,
  .doc-Modules .doc-Module:first-child > h6:first-child {
    margin-top: 0; }

.doc-Module > pre {
  margin: 0;
  white-space: inherit;
  border-radius: 3px; }
  .doc-Module > pre + pre {
    margin-top: 1em; }

.doc-Module > h1,
.doc-Module > h2 {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em;
  font-weight: 500;
  margin-top: 2em; }
  .doc-Module > h1:hover:before,
  .doc-Module > h2:hover:before {
    content: "#";
    color: rgba(66, 185, 131, 0.8);
    position: absolute;
    left: -0.9em;
    font-size: 0.8em;
    font-weight: bold; }

.doc-Module p {
  margin: 1.2em 0;
  line-height: 1.7em; }

.doc-Module > ul code,
.doc-Module > a code,
.doc-Module > p code,
.doc-Module > blockquote > p code,
.doc-Module > blockquote > h2 code,
.doc-Module > blockquote > h3 code,
.doc-Module > blockquote > h4 code,
.doc-Module > h1 code,
.doc-Module > h2 code,
.doc-Module > h3 code,
.doc-Module > h4 code,
.doc-Module > h5 code {
  color: #e96900;
  padding: 3px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial; }
  .doc-Module > ul code:contains('*\/'),
  .doc-Module > a code:contains('*\/'),
  .doc-Module > p code:contains('*\/'),
  .doc-Module > blockquote > p code:contains('*\/'),
  .doc-Module > blockquote > h2 code:contains('*\/'),
  .doc-Module > blockquote > h3 code:contains('*\/'),
  .doc-Module > blockquote > h4 code:contains('*\/'),
  .doc-Module > h1 code:contains('*\/'),
  .doc-Module > h2 code:contains('*\/'),
  .doc-Module > h3 code:contains('*\/'),
  .doc-Module > h4 code:contains('*\/'),
  .doc-Module > h5 code:contains('*\/') {
    color: red; }

.doc-Module > ul a[href],
.doc-Module > a a[href],
.doc-Module > p a[href],
.doc-Module > blockquote > p a[href],
.doc-Module > blockquote > h2 a[href],
.doc-Module > blockquote > h3 a[href],
.doc-Module > blockquote > h4 a[href],
.doc-Module > h1 a[href],
.doc-Module > h2 a[href],
.doc-Module > h3 a[href],
.doc-Module > h4 a[href],
.doc-Module > h5 a[href] {
  color: #42b983;
  font-weight: 400;
  margin: 0 3px;
  text-decoration: none; }
  .doc-Module > ul a[href]:hover,
  .doc-Module > a a[href]:hover,
  .doc-Module > p a[href]:hover,
  .doc-Module > blockquote > p a[href]:hover,
  .doc-Module > blockquote > h2 a[href]:hover,
  .doc-Module > blockquote > h3 a[href]:hover,
  .doc-Module > blockquote > h4 a[href]:hover,
  .doc-Module > h1 a[href]:hover,
  .doc-Module > h2 a[href]:hover,
  .doc-Module > h3 a[href]:hover,
  .doc-Module > h4 a[href]:hover,
  .doc-Module > h5 a[href]:hover {
    text-decoration: underline; }

.doc-Module > table {
  border-collapse: collapse;
  border-radius: 3px;
  width: 100%;
  font-size: 1.1em; }
  .doc-Module > table th {
    background-color: #FFA760;
    color: #fff;
    font-weight: 300;
    border-left: 1px solid #fff; }
  .doc-Module > table th:empty {
    display: none; }
  .doc-Module > table td {
    background-color: #FFF3F3;
    color: #444;
    padding: 10px;
    border: 1px solid #fff; }

.doc-Module > blockquote {
  margin: 10px 0;
  padding: 15px;
  color: #777;
  background-color: #f8f8f8;
  border: 1px solid #EEEEEE;
  border-radius: 1px; }
  .doc-Module > blockquote p {
    margin: 0 0 0.8em; }
    .doc-Module > blockquote p:last-of-type {
      margin-bottom: 0; }
  .doc-Module > blockquote pre {
    white-space: normal;
    margin: 0;
    margin-bottom: 1em; }
  .doc-Module > blockquote h3, .doc-Module > blockquote h4, .doc-Module > blockquote h5, .doc-Module > blockquote h6 {
    margin-bottom: 0; }
  .doc-Module > blockquote h1:first-child,
  .doc-Module > blockquote h2:first-child,
  .doc-Module > blockquote h3:first-child,
  .doc-Module > blockquote h4:first-child,
  .doc-Module > blockquote h5:first-child,
  .doc-Module > blockquote h6:first-child {
    margin-top: 0;
    margin-bottom: 1em; }
  .doc-Module > blockquote > p > code {
    background-color: #FFF3F3; }
  .doc-Module > blockquote ul {
    margin-bottom: 0; }

.doc-Menu {
  min-width: 160px;
  position: fixed;
  z-index: 1; }
  .doc-Menu ul {
    line-height: 1.8em;
    margin: 0;
    padding-left: 1em;
    list-style-type: none; }
  .doc-Menu > ul {
    padding-left: 0; }
  .doc-Menu a[href] {
    text-decoration: none;
    color: #3DB680;
    display: block;
    padding-left: 3px;
    position: relative; }
    .doc-Menu a[href]:hover:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      display: block;
      background: -webkit-gradient(linear, left top, right bottom, from(#3DB680), to(transparent));
      height: 1px;
      width: 100%; }
  .doc-Menu a[data-tree-current] {
    background-color: #3DB680;
    color: #fff;
    pointer-events: none; }
    .doc-Menu a[data-tree-current]:after {
      content: '';
      position: absolute;
      display: block;
      left: 100%;
      top: 0;
      border-left: 8px solid #2B9063;
      height: 100%; }

.doc-Footer {
  padding: 40px 0;
  text-align: center; }
  @media (max-width: 400px) {
    .doc-Footer {
      background-color: #f5f5f5;
      padding: 10px 0; } }
