<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../assets/css/lib/github.css">
    {{{css}}}
  </head>
  <body>
    {{#each js}}
      <script src="{{this}}"></script>
    {{/each}}
    {{{body}}}
  </body>
</html>
