<header class="doc-Header">
  <nav class="doc-Header_Nav">
    <div class="doc-Header_Col-left">
      <a class="doc-Header_Home" href="<%- root%>../../">
        aigis
      </a>
    </div>
    <div class="doc-Header_Col-right">
      <ul class="doc-Header_Menu">
        <li class="doc-Header_MenuItem">Docs</li>
        <li class="doc-Header_MenuItem"><a href="<%- root%>../../sample/" target="_blank">Sample</a></li>
        <li class="doc-Header_MenuItem"><a href="https://github.com/pxgrid/aigis/" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </nav>
</header>
