<header class="doc-Header">
  <nav class="doc-Header_Nav">
    <div class="doc-Header_Col-left">
      <a class="doc-Header_Home" href="https://pxgrid.github.io/aigis/">
        aigis
      </a>
    </div>
    <div class="doc-Header_Col-right">
      <ul class="doc-Header_Menu">
        <li class="doc-Header_MenuItem"><a href="https://github.com/pxgrid/aigis/" target="_blank">GitHub</a></li>
        <li class="doc-Header_MenuItem"><a href="<%- root%>../doc/">Docs</a></li>
        <li class="doc-Header_MenuItem"><a href="<%- root%>../styleguide/">Sample</a></li>
      </ul>
    </div>
  </nav>
</header>
