<div class="aigis-colorPalette">
  {{#each colors as |color|}}
    <div class="aigis-colorPalette__color" style="background-color: {{color.value}};"></div>
    <div class="aigis-colorPalette__label">{{color.name}}</div>
  {{/each}}
</div>
