<!DOCTYPE html>
<html>
  {{include "./header.hbs"}}
  <body>
  <div class="aigis-container">
    {{include "./sidemenu.hbs"}}
    <div class="aigis-contents">
      <div class="aigis-contents__body">
        {{include "./modules.hbs"}}
      </div>
    {{include "./footer.hbs"}}
    </div>
  </div>
  </body>
</html>
