html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
