/*
---
title: mod
category: mod
---

## mod

```html
<button class="mod">mod</button>
```

```js
var $btn = $('.mod');
$btn.on("click", function() {
  alert("mod!!");
});
```

*/

.mod {
  color: yellow;
}
