{{#each colors}}
  <div class="aigis-colorPalette">
    <div class="aigis-colorPalette__color" style="background-color: {{this}};"></div>
    <div class="aigis-colorPalette__label">{{this}}</div>
  </div>
{{/each}}
